## Условие 2
На складе лежат разные фрукты в разном количестве.<br>
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [94]:
def fruit_basket(**kwargs): 
    {print(f'{name}s Amount {values} pc.')
    for name, values in kwargs.items()}
    return f'Toatal Fruits Amount: {sum(kwargs.values())} pc.'

In [95]:
fruit_basket(
    Lemon = 20,
    Orange = 15,
    Apple = 51
)

Lemons Amount 20 pc.
Oranges Amount 15 pc.
Apples Amount 51 pc.

'Toatal Fruits Amount: 86 pc.'

## Условие 3
Дан список с затратами на рекламу. <br>
Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты.<br>
Используйте list comprehensions

In [87]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
expenses_corr = [i for i in expenses if i > 0]
print(f'Adv Expenses Correct: {expenses_corr}')
f'Total Expenses: {sum(expenses_corr)}'

Adv Expenses Correct: [100, 125, 345, 655, 200]

'Total Expenses: 1425'

## Условие 4
### Условие 4.1
Даны два списка.
Дата покупки и суммы покупок по датам.<br>
Найдите, какая выручка у компании в ноябре.<br>
Используйте list comprehensions.

In [70]:
list_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
              '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
              '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
              '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
              '2021-10-26', '2021-12-09']
amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 
          2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [71]:
list_Month = [i.split('-')[1] for i in list_dates]
print(list_Month)

['09', '12', '09', '12', '10', '09', '12', '11', '12', '11', '10', '12', '11', '11', '09', '10', '12', '09', '12', '11', '11', '12', '12', '10', '10', '09', '11', '12', '10', '12']

In [76]:
November_Revenue = [(f'{list_Month[i]} месяц', f'выручка {amount[j]}')
                          for i in range(len(list_Month))
                          for j in range(len(amount))
                          if i == j and list_Month[i] == '11']
November_Revenue

[('11 месяц', 'выручка 4944'),
 ('11 месяц', 'выручка 3701'),
 ('11 месяц', 'выручка 7037'),
 ('11 месяц', 'выручка 4274'),
 ('11 месяц', 'выручка 2004'),
 ('11 месяц', 'выручка 2822'),
 ('11 месяц', 'выручка 316')]

In [81]:
print(f'За {November_Revenue[0][0]} выручка составила: {sum([amount for dates, amount in zip(list_dates, amount) if dates[5:7] == "11"])}')

За 11 месяц выручка составило: 25098

### Условие 4.2
Найдите выручку компании в зависимости от месяца.<br>
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.<br>
Используйте аннотирование типов.

In [ ]:
def revenue_by_month(list_date: list, list_revenue: list) -> dict:
    dict_Month = {}
    for i in range(len(list_date)):
        if list_date[i].split('-')[1] in dict_Month.keys():
            dict_Month[list_date[i].split('-')[1]] += list_revenue[i]
        else:
            dict_Month[list_date[i].split('-')[1]] = list_revenue[i]
    return dict_Month

In [82]:
revenue_by_month(list_dates, amount)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}